@import 'library'; 

.HeaderPage{position: fixed;z-index: 99;width: 100%;height: 157px;background-color: @whitebg;top:0;.animation();}

/*Header top*/
.Headertop{height: 40px;border-bottom: @line-border;
	.dropdown-toggle{background-color: transparent;color: @dark-text;font-size: 14px;border: none;padding-left:32px;position: relative;padding-right: 24px;margin-top: 4px;background-size: auto;background-position: 4px 6px;background-repeat: no-repeat;.source-icon-ngonngu();
		&:hover{color:@primary-text !important; }
	}
	.dropdown-toggle::after{background-repeat: no-repeat;border:none;width: 14px;height: 8px;position: absolute;top:13px;right: 4px;.source-icon-dropdown();}
	.email_fptTH{display: inline-block;padding-left:32px;color: @dark-text;font-size: 14px;margin-top: 4px;padding-top: .375rem;padding-bottom: .375rem;margin-left: 16px;background-size: auto;background-position: 4px 9px;background-repeat: no-repeat;.source-icon-email();}
	
	.phone_fptTH{display: inline-block;padding-left:24px;color: @hotline-text;font-size: 14px;margin-top: 4px;padding-top: .375rem;padding-bottom: .375rem;margin-left: 16px;font-weight: bold;background-size: auto;background-position: 4px 6px;background-repeat: no-repeat;.source-icon-hotline();}
	
	.group_login{float: right;margin-top: 9px;
		.txt{font-size: 14px;color:@dark-text;display: inline-block;float: left;}
		.space{margin: 0 8px;}
	}
}
@media (hover:hover) {
	.Header_navigation{
		.logo{margin-top: 9px;margin-left: 0;}
		.navigation{float: right;
			li{float: right;padding: 23px 16px;
				a.txt{color: @dark-text;font-size: 16px;font-weight: 500;}
			}
			li.par{position: relative;
				a.txt{position: relative;}
			}
			li.par:first-child{padding-right: 0;}
		}
		.par .bg_navigation_2{display: none;background-color: @primary-color;position: fixed;top:109px;height: 48px;width: 100%;left: 0;opacity: 1;.animation();
			ul{float: right;
				.txt{color: @light-text;padding: 8px 16px 8px 16px;position: relative;
					&:hover{color: @light-text !important;}
				}
				li{display: inline-block;padding: 14px 0;opacity: 1;.animation();
					a.txt{color: @light-text;font-size: 16px;font-weight: 400; }
					.txt:after{display: none;}
					&:hover{opacity: 0.7;}
				}
				li:first-child{
					.txt{padding-right: 0;}
				}
			}
		}
		.par.active,.navigation li.par:hover{position:relative;

			.bg_navigation_2{display: block;}
			&:after{content: "";width: 0;height: 0;border-style: solid;border-width: 0 7px 8px 7px;border-color: transparent transparent @primary-color transparent;left: 50%;bottom: 0;position: absolute;margin-left: -10px;}
		}
		.active > .txt{color:@primary-text!important; }
		.navigation li.active.disable > .txt{color:inherit !important; }
		.active.disable:after{display: none;}
		.active.disable.hover:after{display: block;}
		.navigation li.par:hover > .txt{color:@primary-text !important; }
		.active.disable .bg_navigation_2{display: none;}

	}
	.HeaderPage.scaleheader{height: 110px;top:-40px;.shadow-navigation();
		.Header_navigation .navigation li.par .bg_navigation_2,.Header_navigation li.active .bg_navigation_2{top:70px;height: 0;overflow: hidden;display: block;}
		.Header_navigation li.active:hover .bg_navigation_2{display: none}
		.Header_navigation .navigation li.par:hover .bg_navigation_2,
		.Header_navigation .navigation li.par.active:hover .bg_navigation_2{top:70px;height: 48px;display: block;.shadow-navigation();}
		.Header_navigation .active:after{display: none;}
		.Header_navigation .navigation {
			li.par > a.txt{color: inherit !important;}
			.active.disable:after{display: none;}
			.active.disable.hover:after{display: block;}
			li.par:hover > .txt{color:@primary-text !important;}

		}
	}
}
@media (max-width: 991px){
	.Header_navigation {
		.logo{margin-top: 14px;width: 130px;}
		.navigation li{padding-left: 12px;padding-right: 12px;}
		.bg_navigation_2 ul li .txt{padding-left: 8px;padding-right: 8px;}
		.bg_navigation_2 ul li:first-child .txt{padding-right: 0;}
	}
	.Headertop {
		.dropdown-toggle{padding-left: 28px;margin-left: 0;}
		.email_fptTH{padding-left: 28px;margin-left: 8px;}
		.phone_fptTH{margin-left: 8px;}
	}
}

@media (max-width: 767px){
	.HeaderPage{height: 48px !important;top:0 !important;}
	.Header_navigation {position: relative;border-bottom: @line-border;height: 48px;
		.logo{margin-top: 0;display: block;margin: 0 auto;width: 120px;}
	}
	.navbar{padding-top: 5px;padding-bottom: 5px;}
	.menu_collapse{
		.navbar-toggler{position: absolute;top:10px;left: 10px;}
	}
	.navbar-toggler-icon{width: 26px;height: 27px;background-repeat: no-repeat;background-position: center center;.source-menu-mobile();}
}