@import 'library'; 

.chuong_trinh{padding-top: 64px;padding-bottom: 64px;    background-color: #f7f7f7;
	.col-lg-3{padding-left: 9px;padding-right: 9px;}
	.title{margin-bottom:48px; }
	.title{text-align: center;color: rgba(0,0,0,0.8);font-size: 34px;font-weight: bold; }
	.icon_1,.icon_2,.icon_3,.icon_4{width: 80px;height: 80px;display:block;margin: 32px auto 16px auto;background-repeat: no-repeat;background-position: center center;}
	.icon_1{.source-icon-truyenhinh();}
	.icon_2{.source-icon-vod();}
	.icon_3{.source-icon-sukien();}
	.icon_4{.source-icon-thethao();}
	.item{border: 1px solid #ebebeb;padding-left: 8px;padding-right: 8px;padding-bottom: 12px;transition: all 0.3s;box-shadow: 0 8px 16px rgba(255,255,255,.18);
    background-color: #fff;color: rgba(0, 0, 0, 0.6);
		.tit{font-weight: bold;color: #0eb1aa;font-size: 20px;text-align: center;margin-bottom: 16px;text-transform: uppercase;}
		.text{font-size: 16px;color: rgba(0,0,0,0.6);text-align: center;height: 72px;display: block;overflow: hidden;transition: all 0.1s;}
		&:hover{background-color: #0eb1aa;box-shadow: 0 8px 16px rgba(0,0,0,.18);border: 1px solid #0eb1aa;
			.tit{color: #fff;}
			.text{color: #fff;}
			.icon_1{.source-icon-truyenhinh-ac();}
			.icon_2{.source-icon-vod-ac();}
			.icon_3{.source-icon-sukien-ac();}
			.icon_4{.source-icon-thethao-ac();}
		}
	}
	.line_btn{margin-top: 60px;}
}
.FPT_TH{margin-top: 64px;
	.list_bg{margin-top: 60px;margin-left: 0;margin-right: 0;
		.item{position: relative;
			img{border:5px solid #fff;}
		}
		.color_org{color:#ff8200;text-align: center;font-weight: 300;font-size: 26px;line-height: 26px;}
		.color_cyan{color:#0eb1aa;text-align: center;font-weight: 300;font-size: 26px;line-height: 26px;}
		.d-table-cell{vertical-align: middle;text-align: center;position: relative}
		.bg_w{background-color: rgba(255,255,255,0.95);position: absolute;top:0;left: 0;width: 100%;height: 100%;}
		.item_hidden{
			.bg_w{opacity: 0;transition: all 0.3s;border: 5px solid #fff;transition: all 0.3s}
			&:hover{
				.bg_w{opacity: 1;border: 5px solid #f4f4f4;}
			}
			
		}
		.item_show{
			.bg_w{opacity: 1;transition: all 0.3s}
			&:hover{
				.bg_w{opacity: 0;}
			}
		}
	}
	.bg{width: 100%;display: table;background-position: center center;background-repeat: no-repeat;height: 100%;}
	.why_FPT{margin-top:48px;
		p{margin-bottom: 0;font-size: 16px;
			span{color: rgba(0,0,0,0.7);}
		}
		.title{font-weight: bold;font-size: 28px;color: rgba(0,0,0,0.8);margin-top: 24px;margin-bottom: 24px;}
		.icon_time{width: 42px;height: 42px;display: block;margin-bottom: 12px;
				background-image: url(../images/time.png);
				background-image: -webkit-image-set(url(../images/time.png) 1x,
					url(../images/time@2x.png) 2x,
					url(../images/time@3x.png) 3x);
				background-repeat: no-repeat;
				background-position: center center;
		}
		.icon_play{width: 42px;height: 42px;display: block;margin-bottom: 12px;
				background-image: url(../images/play.png);
				background-image: -webkit-image-set(url(../images/play.png) 1x,
					url(../images/play@2x.png) 2x,
					url(../images/play@3x.png) 3x);
				background-repeat: no-repeat;
				background-position: center center;
		}
		.line_btn{margin-top: 48px;}
	}
}
.Slider_gioithieu{margin-top: 80px;position: relative;background-image: url(../images/demo/bg_black.png)}
.Goi_dv{padding-top: 80px;background-color: #f7f7f7;padding-bottom: 60px;
	.subtext{margin-bottom: 32px;}
	.item{background-color: #fff;box-shadow: 0 0 3px #ccc;height: 340px;padding-left: 72px;padding-right: 48px;transition: all 0.2s;
		&:hover{box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);}
	}
	.list_pack{margin-top: 20px;position: relative;
		.item:after{content: "";position: absolute;bottom:0;right: 10px;width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 36px 36px;
				border-color: transparent transparent #0eb1aa transparent;}
	}
	.title{color: #0eb1aa;font-size: 30px;margin-bottom: 16px;font-weight: 700;padding-top: 24px;}
	.title_view{text-align: center;color: #0eb1aa !important;font-size: 30px;font-weight: 300;display: block;text-decoration: underline !important;}
	ul{margin-left: 20px;}
	li{font-size: 16px;margin-bottom: 12px;position: relative;
		&:after{content: "";width: 8px;height: 8px;background-color: #0eb1aa;position: absolute;top:7px;left: -16px;border-radius: 10px;}
	}
	.d-table{height: 100%;width: 100%;}
	.d-table-cell{vertical-align: middle}
	.line_btn{margin-top: 24px;}
	.pack1{background: url(../images/demo/pack_1.png) no-repeat center center;height: 340px;}
	.pack2{background: url(../images/demo/pack_2.png) no-repeat center center;height: 340px;}
	.bg_w{background-color: rgba(255,255,255,0.95);height: 100%;opacity: 0;transition: all 0.3s ;}
	.pack{box-shadow: 0 0 3px #ccc;transition: all 0.2s;
		&:hover{box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);}
		&:hover .bg_w{opacity: 1;}
	}
	.col-lg-6{padding-right: 10px;padding-left: 10px;}
	.list_pack_2{margin-top: 20px;
		.title{color: #ff8201;}
		li{
			&:after{background-color: #ff8201;}
		}
		.btn-primary{background-color: #ff8201;border:1px solid #ff8201;
			&:hover{background-color: #fff;color: #ff8201 !important;}
		}
		.title_view{color: #ff8201 !important;}
		.item:after{content: "";position: absolute;top:0;left: 10px;width: 0;
				height: 0;
				border-style: solid;
				border-width: 36px 36px 0 0;
				border-color: #ff8200 transparent transparent transparent;}
	}
}
.congnghe{padding: 60px 0;
	.d-table{height: 505px;}
	.d-table-cell{vertical-align: middle;}
	.title{ font-size: 28px;
       color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    margin-bottom: 36px;
		margin-top: 24px;}
	.line_btn {margin-top: 28px;}
}
/*.Khampha{
	.icon_HDSD{		background-repeat: no-repeat;
					background-image: url(../images/hdsd.png);
					background-image: -webkit-image-set(url(../images/hdsd.png) 1x,
						url(../images/hdsd@2x.png) 2x,
						url(../images/hdsd@3x.png) 3x);
					background-position: 20px center;
					width: 100%;height: 56px;background-color: rgba(255,255,255,0.15);display: block;}
	.icon_PGD{background-repeat: no-repeat;
				background-image: url(../images/PGD.png);
				background-image: -webkit-image-set(url(../images/PGD.png) 1x,
					url(../images/PGD@2x.png) 2x,
					url(../images/PGD@3x.png) 3x);
				background-position: 20px center;
				width: 100%;height: 56px;background-color: rgba(255,255,255,0.15);display: block;}
	.icon_KM{background-repeat: no-repeat;
					background-image: url(../images/gift.png);
					background-image: -webkit-image-set(url(../images/gift.png) 1x,
						url(../images/gift@2x.png) 2x,
						url(../images/gift@3x.png) 3x);
					background-position: 20px center; width: 100%;height: 56px;background-color: rgba(255,255,255,0.15);display: block;}
	.txt{margin-top: 28px;height: 72px;display: block;overflow: hidden;}
	.list_link{
		li{margin-bottom: 14px;
			&:last-child{margin-bottom: 0;}
		}
		a{padding-left: 80px;position: relative;
			&:after{content: "";position: absolute;top:17px;right:21px;width: 12px;height: 22px;opacity: 0; transition: all 0.3s;
					background-repeat: no-repeat;
					background-image: url(../images/arrow_w_right.png);
					background-image: -webkit-image-set(url(../images/arrow_w_right.png) 1x,
						url(../images/arrow_w_right@2x.png) 2x,
						url(../images/arrow_w_right@3x.png) 3x);
			}
		}
		a span{font-size: 18px;font-weight: 500;color: #fff;line-height: 54px;}
		li:hover{
			a{background-color: rgba(14,177,170,0.77);
				&:after{opacity: 1;}
			}
		}
	}
}*/
.Khampha_v1 {padding-bottom: 72px;
	.line{border-top: @line-border;margin-bottom: 72px;margin-top: 0;}
}
.item_col{position: relative;padding-left: 16px;padding-right: 16px;
	.icon_circle{width: 72px;height: 72px;display:block;margin: 0 auto;background-repeat: no-repeat;background-position: center center;margin-bottom: 20px;}
	.title{font-size: 20px;font-weight: 500;color:@dark-text;text-align: center;.animation(all);}
	.txt{font-size: 16px;color:@dark-text;text-align: center;height: 72px;display: block;overflow: hidden;}
	
	.icon_huongdan{.source-icon-huongdan();}
	.icon_phonggd{.source-icon-phonggd();}
	.icon_khuyenmai{.source-icon-khuyenmai();}
	.bg_click{position: absolute;opacity: 0;height: 100%;width: 100%;display: block;}
	&:hover{
		.icon_huongdan{.source-icon-huongdan-ac();}
		.icon_phonggd{.source-icon-phonggd-ac();}
		.icon_khuyenmai{.source-icon-khuyenmai-ac();}
		.title{color: @secondary-text;}
	}
	
}

.Tintuc{padding-top: 100px;padding-bottom: 100px;
	.swiper-slide{
		a{width: 100%;height: 100%;display: block;position: absolute;z-index: 2}
	}
	.title_tintuc{font-size: 16px;text-transform: uppercase;font-weight: bold;background-color: #dd3333;padding: 6px 12px;display:inline-block;color: #fff;margin-bottom: 30px;}
	.col-lg-6{padding-left: 15px;padding-right: 10px;
		&:last-child{padding-left: 10px;padding-right: 15px;}
	}
	.item{box-shadow: 0 0 3px #ccc;}
	.row_tintuc{margin-bottom: 20px;margin-left:-10px;margin-right: -10px;
		&:last-child{margin-bottom: 0;}
		.col-lg-6{padding-left: 10px;padding-right: 10px;
			&:last-child{padding-left: 10px;padding-right: 10px;}
		}
	}
}
@media (max-width: 1440px){
	.FPT_TH .list_bg {
		.color_cyan,.color_org{font-size: 24px;}
	}
	.Goi_dv .title_view{font-size: 28px;}
	
}
@media (max-width: 1200px){
	.FPT_TH .list_bg {
		.color_cyan,.color_org{font-size: 20px;}
	}
	.Goi_dv .title_view{font-size: 24px;}
	.item_col .txt{font-size: 14px;height: 64px;}
	.chuong_trinh {
		.title{font-size: 28px;} 
		.item .text{font-size: 14px;}
	}
}
@media (max-width:991px){
	.FPT_TH {
		.list_bg{margin-top: 36px;
			.item{
				-ms-flex: 0 0 33.33%;
				flex: 0 0 33.33%;
				max-width: 33.33%;
			}
		}
		.why_FPT {
			.title{text-align: center;}
			p{text-align: center;width: 80%;display: block;margin: 0 auto;margin-bottom: 8px;}
			.icon_time,.icon_play{margin: auto;}
			.line_btn{margin-top: 30px;margin-bottom: 0;}
		}
	}
	.chuong_trinh {
		.item{margin-bottom: 18px;
			.text{height: 62px;}
			.tit{margin-bottom: 8px;}
		}
		.line_btn{margin-top: 30px;margin-bottom: 0;}
		.icon_1,.icon_2,.icon_3,.icon_4{margin-bottom: 12px;}
	}
	.Goi_dv {
		.item{padding-left: 20px;padding-right: 20px;}
		li{font-size: 15px;}
	}
	.congnghe {
		.d-table{height: inherit;text-align: center;}
		.title{margin-top: 0;}
	}
	.Khampha_v1 {
		.item_col{padding: 0;
			.title{font-size: 16px;}
		}
		.col-md-4{padding-left:8px;padding-right: 8px; }
	}
	
	
}
@media (max-width: 767px){
	.chuong_trinh{padding-top: 32px;padding-bottom: 32px;
		.title{font-size: 24px;margin-bottom: 28px;}
		.item {
			.tit{font-size: 16px;margin-bottom: 24px;}
			.text{display: none;}
		}
		.line_btn{margin-top: 0;}
	}
	.FPT_TH{margin-top: 32px;
		.list_bg{margin-top: 8px;
			.item{-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;}
			.color_cyan,.color_org{font-size: 24px;}
		}
		.why_FPT{margin-top:0;
			.title{font-size: 24px;}
			.line_btn{margin-top:24px;}
		}
	}
	.Slider_gioithieu{margin-top: 48px;}
	.Goi_dv{padding-top: 32px;padding-bottom: 32px;
		.subtext{margin-bottom: 8px;}
		.item{padding-left: 12px;padding-right: 12px;height: 300px;}
		li{font-size: 14px;}
		.title{margin-bottom: 12px;padding-top: 8px;font-size: 22px;}
		.line_btn{margin-top: 16px;}
		.pack1{height: 300px;}
		.pack2{height: 300px;}
		.list_pack .item:after{border-width: 0 0 28px 28px;}
		.list_pack_2 .item:after{    border-width: 28px 28px 0 0;}
	}
	.congnghe{padding: 32px 0;
		.title{font-size: 24px;margin-bottom: 32px;}
	}
	.Khampha_v1 {padding-bottom: 16px;
		.line{margin-bottom: 42px;}
		
	}
}
@media (max-width: 480px){
	.chuong_trinh .item .tit{font-size: 14px;}
}