//theme cyan/orange
@primary-color:#00968f;
@secondary-color:#ff8201;
@primary-text:#0eb1aa;
@secondary-text:#ff8201;
@hotline-text:#dd3333;

//color text
@dark-text:rgba(0,0,0,0.8);
@light-text:rgba(255,255,255,1);

//backgroud
@whitebg:rgba(255,255,255,1);

//shadow
@shadow-5:0px 1px 5px rgba(0, 0, 0, 0.3);
@shadow-3:0px 0px 3px rgba(0, 0, 0, 0.3);

	

//border color
@line-border:1px solid rgba(41, 41, 43, 0.1);

//shadow-navigation
.shadow-navigation{
	-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

//Animation

.animation(@a){
	transition: @a 0.3s;
	-webkit-transition: @a 0.3s;
	-moz-transition: @a 0.3s;
	-o-transition: @a 0.3s;
	-ms-transition: @a 0.3s;
}

//Shadow
.b-shadow-5{
	box-shadow: @shadow-5;
    -moz-box-shadow: @shadow-5;
    -webkit-box-shadow: @shadow-5;
    -o-box-shadow: @shadow-5;
	-ms-box-shadow: @shadow-5;
}

//Icon header
.source-icon-hotline{
	background-image: url(../images/hotline.png);
	background-image: -webkit-image-set(url(../images/hotline.png) 1x,
						url(../images/hotline@2x.png) 2x,
						url(../images/hotline@3x.png) 3x);
}
.source-icon-email{
	background-image: url(../images/email.png);
	background-image: -webkit-image-set(url(../images/email.png) 1x,
		url(../images/email@2x.png) 2x,
		url(../images/email@3x.png) 3x);
}
.source-icon-dropdown{
	background-image: url(../images/icon_dropdown.png);
	background-image: -webkit-image-set(url(../images/icon_dropdown.png) 1x,
		url(../images/icon_dropdown@2x.png) 2x,
		url(../images/icon_dropdown@3x.png) 3x);
}
.source-icon-ngonngu{
	background-image: url(../images/lang.png);
	background-image: -webkit-image-set(url(../images/lang.png) 1x,
		url(../images/lang@2x.png) 2x,
		url(../images/lang@3x.png) 3x);
}  
.source-menu-right{
	background-image: url(../images/menu_right.png);
	background-image: -webkit-image-set(url(../images/menu_right.png) 1x,
		url(../images/menu_right@2x.png) 2x,
		url(../images/menu_right@3x.png) 3x);
}
//Icon Chuongtrinh
.source-icon-truyenhinh{
	background-image: url(../images/truyenhinh.png);
	background-image: -webkit-image-set(url(../images/truyenhinh.png) 1x,
						url(../images/truyenhinh@2x.png) 2x,
						url(../images/truyenhinh@3x.png) 3x);
}
.source-icon-vod{
	background-image: url(../images/vod.png);
	background-image: -webkit-image-set(url(../images/vod.png) 1x,
						url(../images/vod@2x.png) 2x,
						url(../images/vod@3x.png) 3x);
}
.source-icon-sukien{
	background-image: url(../images/sukien.png);
	background-image: -webkit-image-set(url(../images/sukien.png) 1x,
						url(../images/sukien@2x.png) 2x,
						url(../images/sukien@3x.png) 3x);
}
.source-icon-thethao{
	background-image: url(../images/thethao.png);
	background-image: -webkit-image-set(url(../images/thethao.png) 1x,
						url(../images/thethao@2x.png) 2x,
						url(../images/thethao@3x.png) 3x);
}
.source-icon-truyenhinh-ac{
	background-image: url(../images/truyenhinh_w.png);
	background-image: -webkit-image-set(url(../images/truyenhinh_w.png) 1x,
						url(../images/truyenhinh_w@2x.png) 2x,
						url(../images/truyenhinh_w@3x.png) 3x);
}
.source-icon-vod-ac{
	background-image: url(../images/vod_w.png);
	background-image: -webkit-image-set(url(../images/vod_w.png) 1x,
						url(../images/vod_w@2x.png) 2x,
						url(../images/vod_w@3x.png) 3x);
}
.source-icon-sukien-ac{
	background-image: url(../images/sukien_w.png);
	background-image: -webkit-image-set(url(../images/sukien_w.png) 1x,
						url(../images/sukien_w@2x.png) 2x,
						url(../images/sukien_w@3x.png) 3x);
}
.source-icon-thethao-ac{
	background-image: url(../images/thethao_w.png);
	background-image: -webkit-image-set(url(../images/thethao_w.png) 1x,
						url(../images/thethao_w@2x.png) 2x,
						url(../images/thethao_w@3x.png) 3x);
}



//Icon kham pha
.source-bg-khampha{
	background-image: url(../images/demo/khampha_bg.png);
}
.source-icon-huongdan{
	background-image: url(../images/icon_hd.png);
	background-image: -webkit-image-set(url(../images/icon_hd.png) 1x,
		url(../images/icon_hd@2x.png) 2x,
		url(../images/icon_hd@3x.png) 3x);
}
.source-icon-phonggd{
	background-image: url(../images/icon_gd.png);
	background-image: -webkit-image-set(url(../images/icon_gd.png) 1x,
		url(../images/icon_gd@2x.png) 2x,
		url(../images/icon_gd@3x.png) 3x);
}
.source-icon-khuyenmai{
	background-image: url(../images/icon_gift.png);
	background-image: -webkit-image-set(url(../images/icon_gift.png) 1x,
		url(../images/icon_gift@2x.png) 2x,
		url(../images/icon_gift@3x.png) 3x);
}
.source-icon-huongdan-ac{
	background-image: url(../images/icon_hd_ac.png);
	background-image: -webkit-image-set(url(../images/icon_hd_ac.png) 1x,
		url(../images/icon_hd_ac@2x.png) 2x,
		url(../images/icon_hd_ac@3x.png) 3x);
}
.source-icon-phonggd-ac{
	background-image: url(../images/icon_gd_ac.png);
	background-image: -webkit-image-set(url(../images/icon_gd_ac.png) 1x,
		url(../images/icon_gd_ac@2x.png) 2x,
		url(../images/icon_gd_ac@3x.png) 3x);
}
.source-icon-khuyenmai-ac{
	background-image: url(../images/icon_gift_ac.png);
	background-image: -webkit-image-set(url(../images/icon_gift_ac.png) 1x,
		url(../images/icon_gift_ac@2x.png) 2x,
		url(../images/icon_gift_ac@3x.png) 3x);
}

//Icon social
.source-icon-youtube{
	background-image: url(../images/youtube.png);
	background-image: -webkit-image-set(url(../images/youtube.png) 1x,
		url(../images/youtube@2x.png) 2x,
		url(../images/youtube@3x.png) 3x);
}
.source-icon-fb{
	background-image: url(../images/fb.png);
	background-image: -webkit-image-set(url(../images/fb.png) 1x,
		url(../images/fb@2x.png) 2x,
		url(../images/fb@3x.png) 3x);
}

//Menu mobile
.source-menu-mobile{
	background-image: url(../images/menu_mobile.png);
	background-image: -webkit-image-set(url(../images/menu_mobile.png) 1x,
		url(../images/menu_mobile@2x.png) 2x,
		url(../images/menu_mobile@3x.png) 3x);
}